<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joker.test.androidexamples" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ch03.Ch03_2Activity" android:label="自定义View onMeasure"/>
        <activity android:name=".ch03.Ch03_6Activity" android:label="自定义TextView ondraw"/>
        <activity android:name=".ch03.Ch03_7Activity" android:label="自定义ScrollView"/>
        <activity android:name=".ch03.Ch03_8Activity" android:label="事件拦截机制"/>
        <activity android:name=".ch04.Ch04_2Activity" android:label="具有弹性的listview"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ch05.Ch05_2Activity" android:label="实现滑动的七种方法"/>
        <activity android:name=".ch05.Ch05_2_5FlingActivity" android:label="fling滑动"/>
        <activity android:name=".ch05.Ch05_2_7DragHelperActivity" android:label="ViewDragHelper"/>
        <activity android:name=".ch06.Ch06_3Activity" android:label="shape阴影"/>
        <activity android:name=".ch06.Ch06_4Activity" android:label="canvas绘图"/>
        <activity android:name=".ch06.Ch06_5Activity" android:label="ColorMatrix 色调 饱和度 亮度"/>
        <activity android:name=".ch06.Ch06_5_2Activity" android:label="ColorMatrix"/>
        <activity android:name=".ch06.Ch06_6Activity" android:label="mesh实现旗帜飘扬"/>
        <activity android:name=".ch06.Ch06_7Activity" android:label="刮刮卡"/>
        <activity android:name=".ch06.Ch06_7_2Activity" android:label="Shader"/>
        <activity android:name=".ch06.Ch06_7_3Activity" android:label="PathEffect"/>
        <activity android:name=".ch06.Ch06_8Activity" android:label="正弦曲线"/>
        <activity android:name=".ch07.Ch07_1Activity" android:label="animation"/>
        <activity android:name=".ch07.Ch07_2Activity" android:label="animator"/>
        <activity android:name=".ch07.Ch07_5Activity" android:label="自定义Animation"/>
        <activity android:name=".ch07.Ch07_6Activity" android:label="SVG"/>
        <activity android:name=".ch07.Ch07_6_5Activity" android:label="SVG动画实例"/>
        <activity android:name=".ch12.Ch12MaterialStyleActivity" android:label="Material Style"/>
        <activity android:name=".ch12.Ch12_3Activity" android:label="Palette"/>
        <activity android:name=".ch12.Ch12_4Activity" android:label="Z=elevation+translationZ"/>
        <activity android:name=".ch12.Ch12_5Activity" android:label="tint and clip"/>
        <activity android:name=".ch12.Ch12_6Activity" android:label="recyclerview and cardview"/>
        <activity android:name=".ch12.Ch12_7ActivityB" android:label="过度动画ActivityB"/>
        <activity android:name=".ch12.Ch12_7ActivityA" android:label="过度动画ActivityA"/>
        <activity android:name=".ch12.Ch12_8Activity" android:label="ripple and circular reveal"/>
    </application>

</manifest>