<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joker.test.androidexamples" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ch03.Ch03_2Activity" android:label="自定义View onMeasure"/>
        <activity android:name=".ch03.Ch03_6Activity" android:label="自定义TextView ondraw"/>
        <activity android:name=".ch03.Ch03_7Activity" android:label="自定义ScrollView"/>
        <activity android:name=".ch03.Ch03_8Activity" android:label="事件拦截机制"/>
    </application>

</manifest>